body{
	font-family: 'open-sans', sans-serif;
	font-weight: 300;
	background-color: #e5e6e8 ;
}
h1{
	font-size: 1.9em;
}
label{
	font-size: 0.8em;
}
.main-div{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tribute-img{
	max-width: 90%;
	height: 400px;
	flex-shrink: 2;
	align-self: center
	justify-content: center;
	margin: auto;
	margin-bottom: 5px;
	border-radius: 15px;
}
#img-div{
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-shrink: 1;
	width: 80%;
	box-shadow: 0px 0px 10px #888888;
	margin: 10px;
	padding: 10px;
	background-color: #ffffff;
	text-align: center;
	justify-content: center;
}
#img-caption{
	display: flex;
	align-self: center;
}

.tribute-title{
	box-shadow: 0px 0px 10px #888888;
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	background-color: #ffffff;
}
#tribute-info{
	display: flex;
	margin: auto;
	width: 95%;
}
.tribute-paragraph{
	box-shadow: 0px 0px 10px #888888;
}

.award-header{
	margin: 10px 5px;
}
.award-list{

}
.award-card{
	box-shadow: 0px 0px 10px #888888;
	padding: 5px;
	margin: 10px;
	flex: 1 0.5 auto;
	background-color: #ffffff;
	align-items: flex-start;
}

#grammyCard{
	flex: 1 2 auto;
}

.card-holder{
	display: flex;
	flex-flow: row wrap;
}

a.button{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    padding: 5px;
    margin: auto;
    flex-shrink: 0.5;
   	font-size: 3vmin;
   	border-radius: 25px;
}

#linkCard{
	display: flex;
}
#grammyList{
	font-size: 0.7em;
}
li{
	background-color: #d8d8d8;
	margin: 5px;
	padding:5px;
	border-radius: 25px;
}

ul{
	list-style-type: none;
	list-style-position: inside;
	padding-left: 5px;
}