body{
	font-family: 'open-sans', sans-serif;
	font-weight: 300;
}
h1{
	font-size: 1.9em;
}
label{
	font-size: 0.8em;
}
.main-div{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tribute-img{
	max-width: 90%;
	height: 400px;
	flex-shrink: 2;
	align-self: center
	justify-content: center;
	margin: auto;
	margin-bottom: 5px;
}
#img-div{
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-shrink: 1;
	width: 80%;
	box-shadow: 0px 0px 10px #888888;
	margin: 10px;
	padding: 10px;
}
#img-caption{
	display: flex;
	align-self: center;
}
#title{
	
}
.tribute-title{
	box-shadow: 0px 0px 10px #888888;
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}
#tribute-info{
	display: flex;
	margin: auto;
	width: 95%;
}
.tribute-paragraph{
	box-shadow: 0px 0px 10px #888888;
}

.award-header{
	margin: 10px 5px;
}
.award-list{

}
.award-card{
	box-shadow: 0px 0px 10px #888888;
	padding: 5px;
	margin: 10px;
	display: flex;
	align-content: center;
	justify-content: center;
	flex: 1 1 auto;
	flex-flow: column wrap;
}

.card-holder{
	display: flex;
	flex-direction: column;
}